:root{
    --primary-white:white;
    --primary-green:#14b78a;
    --primary-purple:#535da2;
    --primary-black:black;
}

body{
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color:var(--primary-purple);
}

header{
    color :var(--primary-white);
}

a{
    text-decoration: none;
    color:var(--primary-white);
}
/* logo */
.logo-name{
    font-size:32px;
    font-weight: 700;
}

.check-btn{
        display: none;
}
.toggle-btn{
    display: none;
}

/* nav bar alignment */
.nav-bar{
    margin:40px 120px;
    display: flex;
    gap:20px;
    align-items: center;
}

.nav-items{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar links */
.nav-list{
    display: flex;
    gap:15px;
    margin:0;
    list-style: none;
}

.nav-list a{
    font-size:15px;
    padding: 15px 0;
    margin:0 15px;
    transition: color 0.4s ease;
}

.nav-list a:hover{
    color:var(--primary-green);
    border-bottom: 3px solid var(--primary-green);
}


/* phone icon */

.nav-items-call{
    display: flex;
}
.fa-phone{
    background-color:var(--primary-white);
    color:var(--primary-white);
    text-shadow: 0 0 5px black;
    border-radius:50%;
    padding:19px;
    margin-right:18px;
}

span{
    font-weight:800;
    border: 2px solid var(--primary-white);
    padding:15px 30px;
    border-radius:40px;
    white-space: nowrap;
}

span:hover{
    color:var(--primary-green);
    background-color: var(--primary-white);
    cursor: pointer;
}

/* Media queries */


@media (max-width:1200px){
    
    /* Navigation resizing - medium screens */
    .nav-bar{
        margin:40px 60px;
        padding:10px;
        background-color: var(--primary-white);
        color: var(--primary-green);
        border-radius:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-items{
        flex:0;
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        /* background-color: var(--primary-white); */
        width: 200px;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    .check-btn:checked ~ .nav-items .nav-list {
        display: flex;
    }.toggle-btn{
        display: block;
        font-size: 24px;
        color: var(--primary-black);
    }
    .logo-name>a{
        color: var(--primary-black);
    }
    .fa-phone{
        background-color: var(--primary-green);
        padding: 15px;
        margin-right: 12px;
    }
    span{
        border-color: var(--primary-green);
        padding: 12px 20px;
        font-size: 14px;
    }
    span:hover{
        color:var(--primary-white);
        background-color: var(--primary-green);
    }
}

@media (max-width:700px)
{
    /* Navigation resizing - small screens */
    .nav-bar{
        margin:40px 20px;
    }
}

