*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    color: #5f656c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    padding:20px;
    background-color: #57614e;
    color: white;
    display:flex;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.logo h1{
    border-right: 2px solid white;
    padding-right: 15px;
}

.tag{
    width:20vw;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: flex-end;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap:30px;
}

nav li{
    color:rgba(240, 248, 255, 0.686);
    cursor: pointer;
}

nav li:hover{
    color:white;
}

nav li a.active {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #57614e;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    min-width: 200px;
    border-radius: 4px;
    z-index: 10;
}

.dropdown-menu li{
    padding: 10px 20px;
    color: rgba(240, 248, 255, 0.8);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-menu li:hover{
    background-color: #6c7763;
    color: #fff;
    }

.dropdown:hover .dropdown-menu{
    display: block;
}

main{
    background-color: #d9d9d9;
}

#home{
    padding-top: 25px;
}

.banner{
    margin: auto;
    width:60vw;
    padding: 15px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-bottom: none;
}

.banner p{
    font-size:35px;
    width:40%;
}

.banner span{
    font-size: 25px;
}

.banner img{
    max-height:40vh;
}

.moto{
    background-color: #e9e9e9;
    border: 1px solid white;
    min-height: 20vh;
}

.moto-content{
    margin:auto;
    width:62vw;
    display: flex;
}

.moto-content h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.moto-content h3{
    font-size: 20px;
    margin: 15px 0;
}

.comp-vision{
    padding-right: 30px;
    line-height: 1.3;
    border-right: 1px dashed;
    padding:30px;
}


.testimonial{
    padding-left:30px;
    line-height: 1.3;
    padding:30px;
}

.testimonial span{
    display: block;
    margin-top:15px;
    text-align: right;
}

.why-chose-us{
    border:2px solid white;    
    border-top:none;
}
.content{
    width:60vw;
    display:flex;
    flex-direction:column;
    gap:30px;
    margin: auto;
}

.content h3{
    margin-top: 25px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:50px;
}

.info{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.info img{
    border:7px solid white;
}

.info button{
    width:50%;
    margin-bottom: 3px;
    padding:10px 0;
    font-size: 1em;
    border:none;
    background:linear-gradient(rgb(85, 85, 85),rgb(158, 158, 158));
    color:white;
    box-shadow: 2px 1px 0 rgb(94, 94, 94);
    cursor: pointer;
}

.info button:hover{
    background:linear-gradient(rgb(27, 27, 27),rgb(106, 106, 106));
}


/* about section */

#about{
    min-height: 50vh;
    border-bottom: 2px solid white;
}

.about-content{
    margin:auto;
    padding:25px;
    width:60vw;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.about-content img,
.prenuptial-content img,
.marriage-content img,
.divorce-content img{
    border:5px solid white;
    box-shadow: 0 0 5px grey;
}

.about-content h4 ,
.prenuptial-content h4,
.marriage-content h4,
.divorce-content h4{
    font-size: 1.3em;
    margin-bottom: 8px;
    font-weight: 500;
}

.about-content p{
    line-height: 1.5;
    font-size: 1.1em;   
}

/* practices */

#practices,
#lawyers,
#news{
    min-height: 90vh;
    border-bottom: 2px solid white;
}

.practices-content,
.lawyers-content,
.news-content{
    min-height: 90vh;
    margin: auto;
    width:60vw;
    display: grid;
    grid-template-columns: 30% 70%;
    gap:20px;
}

.practices-left,
.lawyers-left,
.news-left,
.contact-left{
    border-right: 1px dashed grey;
}

.practices-left h3,
.lawyers-left h3,
.news-left h3,
.contact-left h3{
    font-size: 1.35em;
    font-weight: 450;
    padding: 25px 5px;
    border-bottom: 1px dashed grey;
}

#testimonial{
    font-family: 1.05em;
    padding-top:20vh;
}

.practices-left p,
.lawyers-left p,
.news-left p{
    padding: 20px 40px 20px 5px;
}

.practices-left span,
.lawyers-left span,
.news-left span{
    display: block;
    margin-top:25px;
}

.practices-right{
    padding-left: 15px;
}

.practices-right h2{
    margin: 25px 0 15px;
    font-size: 2em;
    font-weight: 650;
}

.practices-right p{
    margin-bottom: 30px;
    font-size: 1.1em;
}

.img-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    margin-bottom: 50px;
}

.img-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border:5px solid white;
    box-shadow: 0 0 5px grey;
}

.img-box img {
    display: block;
    width: 100%;
    height: auto;
}

.img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    border: none;
    background-color: darkgrey;
    color: white;
    font-size: 1em;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

.img-caption:hover{
    background-color: rgb(80, 80, 80);
}

/* prenuptial agreement */

.prenuptial-content,
.marriage-content,
.divorce-content {
    padding: 20px 10px;
    width:auto;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.prenuptial-content p,
.marriage-content p,
.divorce-content p{
    line-height: 1.3;
    font-size: 1em;   
}

.prenuptial-content h2,
.marriage-content h2,
.divorce-content h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prenuptial-content h2 span,
.marriage-content h2 span,
.divorce-content h2 span{
    font-size: 0.75em;
    color: #57614ea6;
    cursor: pointer;
}

.prenuptial-content h2 span:hover,
.marriage-content h2 span:hover,
.divorce-content h2 span:hover{
    font-size: 0.75em;
    color:#57614e;
    
}

/* lawyers */

#testimonial-lawyers{
    font-family: 1.05em;
}

.lawyers-content{
    gap:0;
}

.lawyers-right h2{
    padding:20px 0 0 30px;
    font-size: 1.8em;
}

.lawyers-right h4{
    font-size: 1.35em;
    font-weight: 450;
}

.directors,
.senior-associates{
    border-bottom: 1px dashed grey;
}

.directors-content,
.senior-content,
.associates-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px 0 30px 30px;
}

.lawyer-detail{
    display: flex;
    align-items: flex-start;
    gap:20px;
}

.lawyer-detail img{
    border: 5px solid white;
}

.lawyer-detail p{
    font-size: 1.1em;
    line-height: 1.4;
}

.associates-content{
    margin-bottom: 8vh;
}

/* news */

#news{
    min-height:60vh;
}

.news-content{
    min-height:75vh;
}

.news-right{
    margin-top:20px;
}
.cards-container{
    padding:20px 0 10vh;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.cards{
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    padding: 10px;
    border:2px solid white;
}

.cards img{
    border:2px solid white;
    box-shadow: 0 0 5px grey;
}

.date-in-card{
    line-height:1.3;
}

.card-info{
    display: flex;
    flex-direction: column;
}

.card-info h4{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 25px;
}

.card-text{
    font-size: 1.05em;
    line-height: 1.4;
}

.card-info button{
    width:fit-content;
    align-self: flex-end;
    margin-top:30px;
    padding:10px 15px;
    font-size: 1em;
    border:none;
    background:linear-gradient(rgb(82, 82, 82),rgb(153, 153, 153));
    color:white;
    box-shadow: 2px 2px 0 rgb(94, 94, 94);
    cursor: pointer;
}

.card-info button:hover{
    background:linear-gradient(rgb(27, 27, 27),rgb(106, 106, 106));
}
    
.news-sub{
    width:85%;
    display: flex;
    align-items: flex-start;
    gap:20px;
}

.news-sub-info{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.news-sub h4{
    font-size: 1.7em;
    font-weight: 500;
}

.news-sub img{
    border:5px solid white;
    box-shadow: 0 0 5px grey;
}

/* contact */
#contact{
    min-height:50vh;
    border-bottom: 2px solid white;
}

.contact-content{
    min-height: 65vh;
    margin: auto;
    width:60vw;
    display: grid;
    grid-template-columns: 30% 70%;
    gap:20px;
}

.contact-left ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-left li{
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap:20px;
}

.contact-left i{
    margin-top: 5px;
}

.contact-left span{
    display: block;
    margin-top:20px;
}

.contact-left a{
    text-decoration: none;
}

.contact-right{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.contact-right h2{
    font-size: 1.7em;
}

.contact-right h4{
    font-weight: 500;
}

.contact-content p{
    font-size: 1.1em;
}

/* footer */
footer{
    background-color:#d9d9d9;
}

.footer-content{
    padding: 10px;
    width:60vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.latest-news h4,
.contact-info h4,
.msg-us h4{
    margin-bottom: 20px;
}

.latest-news,
.contact-info,
.msg-us{
    line-height: 1.5;
    padding:25px 20px;
}

.latest-news,
.contact-info{
    border-right: 1px solid;
}

.contact-info ul{
    list-style-type: none
}

.contact-info a{
    text-decoration: none;
}

.msg-us button{
    margin-top:25px;
    padding:12px 30px;
    font-size: 1em;
    border:none;
    background:linear-gradient(rgb(82, 82, 82),rgb(153, 153, 153));
    color:white;
    box-shadow: 2px 2px 0 rgb(94, 94, 94);
    cursor: pointer;
}

.msg-us button:hover{
    background:linear-gradient(rgb(27, 27, 27),rgb(106, 106, 106));
}

.copyright{
    background-color: #57614e;
    color: white;
}

.copyright-content{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyright img{
    max-width:30px;
}