*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    border:1px solid black;
    width:40%;
    padding: 20px;;
}

.form-container h2{
    margin: 0 0 20px 4px;
}

#registrationForm{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin: 0 0 8px 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea{
    font-size: 1.05em;
    width:100%;
    padding: 15px 18px;
    outline: none;
    border: 2px solid #e0e0e0;
    background-color: #f8f9fa;
    border-radius: 12px;
    font-family: inherit;
    resize: vertical;
}

.password-icon{
    position: relative;
}

.fa-eye{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #bbbbbb;
    font-size: 16px;
    cursor: pointer;
}

.fa-eye.active{
    color: #000000;
}

.checkbox-choice{
    margin-left: 10px;
}

.personal-data-choice{
    display: none;
    flex-direction: column;
    gap:20px;
}

button{
    margin-top: 20px;
    width:25%;
    padding:20px;
    border:none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.228);
    color:grey;
}

button.active{
    background-color: rgb(158, 30, 187);
    color:rgb(255, 255, 255);
    cursor: pointer;
}

