:root{
    --primary-white:white;
    --primary-green:#14b78a;
    --primary-purple:#535da2;
    --primary-black:black;
    --primary-grey: #e6e6e6b2;
}

body{
    margin: 0;
    font-family: "DM Sans", sans-serif;
    
}

header{
    color :var(--primary-white);
    background-color:var(--primary-purple);
}

a{
    text-decoration: none;
    color:var(--primary-white);
}
/*Logo */
.logo-name{
    font-size:32px;
    font-weight: 700;
}

.check-btn{
        display: none;
}

.toggle-btn{
    display: none;
}

/* Nav bar alignment */
.nav-bar{
    position: relative;
    padding: 30px 0 10px;
    margin:0 120px;
    display: flex;
    gap:20px;
    align-items: center;
}

.nav-items{
    margin-left: 30px;
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar links */
.nav-list{
    font-weight:400;
    display: flex;
    gap:50px;
    margin:0;
    list-style: none;
}

.nav-list a{
    font-size:15px;
    padding: 15px 0;
    transition: color 0.4s ease;
}

.nav-list a:hover{
    color:var(--primary-green);
    border-bottom: 3px solid var(--primary-green);
}

/* Nav bar right side-contact */
.nav-items-call{
    display: flex;
}

.fa-phone{
    background-color:var(--primary-white);
    color:var(--primary-white);
    text-shadow: 0 0 5px black;
    border-radius:50%;
    padding:19px;
    margin-right:18px;
}

.nav-items-call span{
    font-weight:800;
    border: 2px solid var(--primary-white);
    padding:15px 30px;
    border-radius:40px;
    white-space: nowrap;
    transition: color 0.4s ease;
}

.nav-items-call span:hover{
    color:var(--primary-green);
    background-color: var(--primary-white);
    cursor: pointer;
}


/* Landing page */
.landing-page{
    background-color:var(--primary-purple);
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:60px;
    position: relative;
}
.landing-page-left{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.left-section-top{
    display: flex;
    align-items: center;
    gap:20px;
}
.circle{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.friend,.free-work{
    font-size: 50px;
    border-radius: 60px;
    background-color: var(--primary-white);
    padding: 10px 25px;
    font-weight: 800;
}
.free-work{
    border-radius: 80px;
    color:var(--primary-green);
}

.begin{
    width:fit-content;
    font-size:18px;
    font-weight: 600;
    background-color: var(--primary-purple);
    color:white;
    padding:20px 30px;
    border:transparent;
    box-shadow: 0 0 5px white;
    border-radius: 50px;
    transition: all 0.4s ease;
}

.begin:hover{
    background-color:var(--primary-green);
    box-shadow: 0 0 10px grey;
}

.landing-page-right{
    display: flex;
    justify-content: flex-end;
}
.bg-circle{
    width:200px;
    height:200px;
    transform: scale(2.5);
    background-color: var(--primary-white);
    border-radius: 50%;
    position: absolute;
    top:30%;
    right:24%;
    z-index:0;
}
.landing-page-right img{
    z-index: 1;
}

/* About page */

.about{
    min-height: 75vh;
    background-color: var(--primary-white);
    margin:60px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.happy-couple{
    width:100%;
    border-radius: 30px;
}

.about-left,.about-right{
    padding:40px;
}
.about-with-photo{
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap:50px;
    background-color: var(--primary-green);
    border-radius: 20px;
}
.about-with-photo h2{
    margin: 0;
    font-size: 60px;
    color: var(--primary-white);
}
.about-with-photo img{
    width:160px;
    height:160px;
}
.about-right h3{
    font-size: 40px;
    margin:30px 0;
}
.about-right p{
    font-size: 23px;
    line-height:1.8;
    color:rgb(116, 114, 114);
}

/* info section */
.info{
    min-height: 60vh;
    background-color:var(--primary-grey);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

table{
    width:70%;
    margin: auto;
    padding: 20px;
    border:1px solid #dbdbdb;
    border-collapse: collapse;
}

caption{
    color: var(--primary-black);
    font-size: 35px;
    font-weight: 600;
    caption-side: top;         
    padding: 8px;
    font-weight: bold;
}

caption,tr,th,td{
    border:1px solid #bbbbbb;
    padding: 15px;
    text-align: left;
}

th{
    color: var(--primary-green);
}
td{
    color: rgb(110, 110, 110);
}
tr:nth-child(even){
    background-color: var(--primary-white);
}

.review{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.numbers{
    font-size: 60px;
    font-weight: 700;
}

.tag{
    color: var(--primary-green);
    font-size: 18px;
    font-weight: 400;
}

/* companies section*/
.companies{
    background-color: var(--primary-white);
    min-height:30vh;
    margin:100px 0;
}

.companies h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
.company-logos{
    margin:20px 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    justify-items: center;
    gap:70px;
}
.company-logos>img{
    max-width: 150px;
}

/* services section */
.services{
    min-height: 80vh;
    background-color:var(--primary-grey) ;
}

.card{
    padding:20px;
    margin:10px auto;
    width:400px;
    height:400px;
    background-color: var(--primary-white);
    border-radius: 20px;
}

.card-top{
    display: flex;
    justify-content: space-between;
}

.card-top>p{
    padding:10px 25px 10px 15px;
    background-color: var(--primary-purple);
    color: var(--primary-white);
    border-radius: 30px;
}
/* Media queries */

@media (max-width:1200px){
    
    /* Navigation resizing - medium screens */
    .nav-bar{
        /* margin:40px 60px; */
        padding:20px;
        background-color: var(--primary-white);
        color: var(--primary-green);
        border-radius:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items{
        flex:0;
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top:90%;
        left:0;
        background-color: var(--primary-white);
        min-height: 0;
        width:100%;
        padding: 20px 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }

    .nav-list a{
        margin:0;
        padding: 5px;
        color: rgb(78, 77, 77);
    }

    .check-btn:checked ~ .nav-items .nav-list {
        display: flex;
    }

    .toggle-btn{
        display: block;
        font-size: 24px;
        color: var(--primary-black);
    }

    .logo-name>a{
        color: var(--primary-black);
    }

    .fa-phone{
        background-color: var(--primary-green);
        padding: 15px;
        margin-right: 12px;
    }

    span{
        border-color: var(--primary-green);
        padding: 12px 20px;
        font-size: 14px;
    }

    span:hover{
        color:var(--primary-white);
        background-color: var(--primary-green);
    }

    /* about section */
    .about{
        display: flex;
        flex-direction: column;
    }

    /* info section */
    .info{
        padding: 70px 0;
        display: flex;
        flex-direction: column;
    }

    .review{
        column-gap: 40px;
    }

    /* company section */
    .company-logos{
        flex-wrap: wrap;
    }
}

@media (max-width:700px)
{
    /* Navigation resizing - small screens */
    .nav-bar{
        margin:40px 20px;
    }
}
