*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 30px;
    background-color: rgba(235, 217, 160, 0.527);
    font-size: 20px;
}
header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width:800px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
}
header h1{
    font-family: cursive;
    margin-bottom: 10px;
}
header li{
    list-style-position: inside;
}

.form-area{
    max-width:800px;
    margin: 30px auto;
    background-color: rgba(240, 248, 255, 0.61);
    border-radius: 20px;
    padding: 30px;
}

form{
    display: grid;
    gap:15px;
}

fieldset,legend{
    padding: 0 10px;
}

input[type=text],input[type=email],input[type=tel],textarea{
    padding:10px;
    width:100%;
    font-size: 18px;
    resize:vertical;
    border: 1px solid rgb(150, 150, 150);
}

.plan-type label,.video-req label{
    margin:10px 0;
    display:flex;
    gap: 15px;
    cursor: pointer;
}

input:focus ,textarea:focus{
    outline-color: rgb(103, 103, 211);
    background-color: rgba(161, 140, 211, 0.203);
}

input[type=submit]{
    border-radius: 8px;
    border: none;
    background-color: rgba(93, 252, 101, 0.479);
    margin-top: 10px;
    padding: 8px;
    font-size: x-large;
}

input[type=submit]:hover{
    background-color: rgb(30, 175, 38);
    border: 1px solid black;
}

@media (min-width:800px){
    form{
        grid-template-columns: repeat(4,1fr);
    }
    label{
        grid-column: 1
    }
    input[type=text],input[type=email],input[type=tel],textarea{
        grid-column: 2 /span 3;
    }
    fieldset{
        grid-column: span 2;
    }
    input[type=submit]
    {
        grid-column: 2/ span 2;
        width: 50%;
        justify-self: center;
    }
}