body{
    background-color: black;
    margin: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    background:linear-gradient(#f2ff00,#d27305 );
    font-size: 50px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgb(255, 123, 0);
    padding:30px 50px;
}